@model RegistrationViewModel
<main>
    <div class="container">
        <div class="row">            
              <form class="form"asp-action="Registration" asp-controller="Auth" asp-anti-forgery="true">
                  <div class="validation" asp-validation-summary="ModelOnly"></div>
                  <div>
                        <h2 class="form_title">Registration</h2>
                
                        <div class="form_group">
                             <label class="login_label" asp-for="PhoneNumber">Phone number</label><br/>
                             <input class="form_input" type="text" asp-for="PhoneNumber"/>
                             <span class="input-validation-error" asp-validation-for="PhoneNumber"/>
                        </div>
                        <div class="form_group">
                            <label class="login_label" asp-for="Email">Email</label><br/>
                            <input class="form_input" type="text" asp-for="Email"/>
                            <span class="input-validation-error" asp-validation-for="Email"/>
                        </div>
                
                        <div class="form_group">
                            <label class="login_label" asp-for="AccountName">Name</label><br/>
                            <input class="form_input" type="text" asp-for="AccountName"/>
                            <span class="input-validation-error" asp-validation-for="AccountName"/>
                        </div>
                         <div class="form_group">
                             <label class="login_label" asp-for="AccountSurname">Surname</label><br/>
                             <input class="form_input" type="text" asp-for="AccountSurname"/>
                             <span class="input-validation-error" asp-validation-for="AccountSurname"/>
                         </div>
                        <div class="form_group">
                            <label class="login_label" asp-for="Password">Password</label><br/>
                            <input class="form_input" asp-for="Password"/>
                            <span class="input-validation-error" asp-validation-for="Password"/>
                        </div>
                        <div class="form-group">
                            <label class="login_label" asp-for="ConfirmPassword">Confirm Password</label><br/>
                            <input class="form_input" asp-for="ConfirmPassword"/>
                            <span class="input-validation-error" asp-validation-for="ConfirmPassword"/>
                        </div>
                        <dl></dl>
                      <div>
                          <button class="nav-button"> Enter </button>
                      </div>
                  </div>
              </form>
            <div class="col-md-1 offset-md-1">
                <img class="ellipse-2" src="/img/ellipse2.png" alt="ellipse">
            </div>
        </div>
    </div>
</main>
<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 cards">
                <img class="cards-img" src="/img/cards.png" alt="cards">
            </div>
        </div>
    </div>
</div>
