@model EmailViewModel
<div class="container">
    <div class="row">
        <div class="col-md-1 offset-md-1">
            <img class="ellipse-1" src="/img/ellipse1.png" alt="ellipse">
        </div>
        <div class="col-md-6 offset-md-1">
            <div id="container">
                <br/>
                <h1>&bull; Login &bull;</h1>
                <br/>
                <div class="underline">
                </div>
                <form class="form" asp-action="Login" asp-anti-forgery="true">
                   
                    <div class="form-group">
                        <label class="login_label" asp-for="EmailCode">Введите код из почты</label><br/>
                        <input class="form_input" asp-for="EmailCode"/>
                        <span class="input-validation-error" asp-validation-for="EmailCode"/>
                    </div>      
                    <dl></dl>
                            
                    <div>
                        <button class="nav-button"> Enter </button>
                    </div>
                    
                </form><!-- // End form -->
            </div><!-- // End #container -->
        </div>
    </div>
</div>
<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 cards">
                <img class="cards-img" src="/img/cards.png" alt="cards">
            </div>
        </div>
    </div>
</div>