<div class="contact-page mt-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d574937.2786721452!2d37.624206!3d55.743757!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xd9ae4ebb8140959!2z0KLQuNC90YzQutC-0YTRhCDQkdCw0L3Qug!5e0!3m2!1sru!2sru!4v1662564336308!5m2!1sru!2sru"
                        width="400" height="600" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
            <div class="col-md-4 offset-md-1">
                <h1 class="contact-title">Contact Us</h1>
                <form asp-action="ContactUs" method="post" id="contact_form">
                    <div class="name" style="width:100%;">
                        <label for="name"></label>
                        <input type="text" placeholder="My name is" id="name_input" required>
                    </div>
                    <div class="email">
                        <label for="name"></label>
                        <input type="email" placeholder="My email is" name="email" id="email_input" required>
                    </div>
                    <div class="message">
                        <label for="message"></label>
                        <textarea name="message" placeholder="I'd like to chat about" id="message_input" cols="30" rows="5" required></textarea>
                    </div>
                    <div class="submit">
                        <input type="submit" value="Contact" id="form_button" />
                    </div>
                </form>
            </div>
            <div class="col-md-3 offset-md-1">
                <div class="contacts">
                    <h5 style="color: #FDCF49;">Contact</h5>
                    <p><i>temasbank@yandex.ru</i></p>

                    <h5 style="color: #FDCF49;" class="mt-5">Based in</h5>
                    <p><i>Russia, Moscow</i></p>
                    <div class="icons">
                        <a href="https://web.telegram.org/k/"><img src="/img/telegram.png" /></a>
                        <a href="https://twitter.com/?lang=ru"><img src="/img/twitter.png" /></a>
                        <a href="https://www.instagram.com/"><img src="/img/instagram.png" /></a>
                        <small>*запрещен в РФ</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>