@{
    ViewData["Title"] = "Index";
}

<main>
    <div class="container">
        <div class="row">
            <div class="col-md-1 offset-md-1">
                <img class="ellipse-1" src="/img/ellipse1.png" alt="ellipse">
            </div>
            <div class="col-md-6 offset-md-1">
                <div class="main-info">
                    <h1 class="main-title">The Best Way to Transfer<br>Your Money Securely</h1>
                    <p class="main-text">
                        Inspiring the world through mobile banking. We makes your<br> money transfering so easy, flexible and
                        secure
                    </p>
                    <a class="main-btn btn-start" asp-controller="Auth" asp-action="Registration">Get Started</a>
                    <a class="main-btn btn-watch" href="https://www.youtube.com/watch?v=Rjw29VxbQuM">Watch Video</a>
                </div>
            </div>
            <div class="col-md-1 offset-md-1">
                <img class="ellipse-2" src="/img/ellipse2.png" alt="ellipse">
            </div>
        </div>
    </div>
</main>
<div class="cards">
    <div class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3 cards">
                <img class="cards-img" src="/img/cards.png" alt="cards">
            </div>
        </div>
    </div>
</div>
