<div class="container">
    
    <div class="cards-title text-center mt-5">
        <h1 class="cards-header">Bank Cards</h1>
        <p class="cards-header-text mt-4">
            A debit card is the best way to pay for purchases and receive cashback. Great solution for comfortable shopping.<br />
            Choose a profitable card with a set of services that suits you
        </p>
    </div>
    
    <div class="card-nav text-center">
        <div class="card-nav-items col-4 offset-4">
            <a class="card-nav-item active" href="#all">All Cards</a>
            <a class="card-nav-item" href="#debit">Debit</a>
            <a class="card-nav-item" href="#credit">Credit</a>
            <a class="card-nav-item" href="#special">Special</a>
        </div>
    </div>

    <div class="card-list mt-5">
        <div class="card-item">
            <a class="card-item-type"><img width="25" class="me-2" src="/img/shopping-cart.png" /><b>Debit</b></a>
            <div class="row mt-5">                
                <div class="col-6">                    
                    <h4 class="card-item-name">Debit card <i>Trust Bank</i></h4>
                    <p>The right debit card that makes money. Withdraw cash from all ATMs and earn cash points</p>
                    <div class="row mt-4">
                        <div class="col-3">
                            <b class="card-item-text">30% cashback</b>
                            <p>For your purchases</p>
                        </div>
                        <div class="col-3 offset-1">
                            <b class="card-item-text">No commission</b>
                            <p>Transfers/payment for services</p>
                        </div>
                        <div class="col-3 offset-1">
                            <b class="card-item-text">Saving</b>
                            <p>Сash points for every purchase</p>
                        </div>
                    </div>
                </div>
                <div class="col-3 offset-2">
                    <img width=330 src="/img/bank-card.png" />
                </div>
            </div>
            <a class="btn btn-light me-1" asp-action="Checkout">Checkout</a>
            <a class="btn btn-primary">More</a>
        </div>
    </div>

</div>
