@model TransferOperationViewModel


<div class="container">
    <div class="row">
        <div class="col-md-1 offset-md-1">
            <img class="ellipse-1" src="/img/ellipse1.png" alt="ellipse">
        </div>
        <div class="col-md-6 offset-md-1">
            <div id="container">
                <br/>
                <h1>&bull; Transfer &bull;</h1>
                <br/>
                <div class="underline">
                </div>
                <form class="form" asp-action="Transfer" asp-anti-forgery="true">
                    <div class="form_group">
                        <label class="main-text" asp-for="RecipientСardNumber"> Card Number</label>
                        <input class="form_input" placeholder=" " type="text" asp-for="RecipientСardNumber"/>
                    </div>
                    <div class="form_group">
                        <label class="main-text" asp-for="Amount">Amount</label>
                        <input class="form_input amount" placeholder="0" type="number" asp-for="Amount" />
                        $
                    </div>
                   
                    <dl></dl>

                    <div class="submit">
                        <input type="submit" value="Enter" id="form_button" />
                    </div>                    
                </form>
            </div>
        </div>
        <div class="col-md-1 offset-md-1">
            <img class="ellipse-2" src="/img/ellipse2.png" alt="ellipse">
        </div>
    </div>
</div>


